<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
  </head>
  <body id="page-top">
    <h1><%= Helpers.current_user.username %></h1>
    <p><%= Helpers.current_user.balance %></p>

  </body>
</html>
